.container {
  margin-top: 80px;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  font-size: 2rem;

  @media screen and (max-width: 700px) {
    font-size: 1.5rem;
  }

  @media screen and (max-width: 525px) {
    font-size: 1.2rem;
  }

  @media screen and (max-width: 400px) {
    font-size: 1rem;
  }
}

.container > h1 {
  margin-bottom: 32px;
  white-space: nowrap;
}

.container > span {
  font-size: 0.5em;
}

.container > a {
  font-size: 0.9em;
  margin-top: 8px;
}
